@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 40px;
    margin-right: 1rem;
  }

  .magnifyingGlass {
    width: 10px;
    margin-right: 0;
    background-color: rgba(0,0,0,.05);
  }

  #first {
    height: 300px;
    background-color: rgba(232, 217, 217, 0.3);
    display: flex;
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    margin-bottom: 4%;
    unicode-bidi: isolate;
  }

  #first p {
    text-align: center;
    width: 400px;
  }
  
  #first h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 10;
    margin-bottom: 0;
  }
  
  #first-button {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
    border: 0;
  }

  #second-button {
    margin: 10px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border: 0;
  }

  #second {
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-justify: center;
    unicode-bidi: isolate;
    margin-bottom: 9%;
  }

  #second p {
    text-align: center;
    width: 400px;
  }
  #second h1 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    margin-bottom: 0;
  }
  #third {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #third h4 {
    color: #ED1C24;
    margin: 10px; 
    text-align: center;
    margin: 40 40;
  }
  
  #third p {
    text-align: left;
  }
  
 #footer {
    width: 350px;
    height: 50px;
    font-weight: bolder;
    font-size: large;
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  }

  #third article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 60px 20px;
}

  #third div img {
    width: 20px;
    display: flex;
    justify-content: space-evenly;
  }

#login-button { 
    display: flex;
    align-items: flex-end;
	align-content: flex-end;
}

header > div:last-child {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div:last-child form button[type="submit"] {
    background-color: #fb3e44;
    color: white;
}

header > div:last-child form {
    padding: 5px;
    display: flex;
    scroll-margin-top: 10rem;
  }

  #hexagon {
    width: 170px;
  }

#search-button {
    border: 0;
    margin: 0;
}

#search-packages {
    border: 0;
    margin: 0;
    background-color: rgba(0,0,0,.05);
    width: 1000px;
}